<%
apps = [
  {
    title: "Sons of Anarchy App",
    image: "soa.jpg"
  },
  {
    title: "FaceTune",
    image: "ggplay2.png",
    desc: "Facetune is a fun and powerful portrait & selfie photo editor! Facetune is a fun and powerful portrait & selfie photo editor!"
  },
  {
    title: "StarSucks",
    image: "gg6.png",
    desc: "A Starbucks Card is the fastest, most convenient way to pay at Starbucks. lol."
  },
  {
    title: "Reddit now",
    image: "ggplay4.png",
    desc: "Reddit Now is a great way to browse content published on Reddit Reddit Now is a great way to browse content published on Reddit"
  },
  {
    title: "Angry Birds",
    image: "gg5.png",
    desc: "Join Stella and her super adventurous friends on a quest to protect Golden Island."
  },
  {
    title: "Ivysaur",
    image: "midu.png",
    desc: "Ivysaur is a dinosaur-like, quadruped Pokémon. It has blue-green skin with darker patches. Two pointed teeth protrude from its upper jaw, and it has narrow red to purple eyes."
  }
]
%>

<div class="row">

  <div class="large-9 columns">
    <div class="feed">
      <%= render "home/feed/timestamp", time: "Today, July 9 2014" %>

      <div class="row activity">
        <div class="large-4 columns">
          <div class="activity-sidebar">
            <%= render "home/feed/new_software/actions" %>
          </div>
        </div>
        <div class="large-8 columns">
          <div class="activity-content">
            <p class="title">
              <span class="event new-project-event"><i class="ss-icon ss-laptop"></i></span>

              <b>Stefano Billiebeni</b> added a new project,
              <%= link_to "Ivysaur", projects_path %>!
            </p>

            <div class="row software-row">
              <div class="large-12 columns">
                <%= render "software_thumbnail", apps[5] %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row activity">
        <div class="large-4 columns">
          <div class="activity-sidebar">

          </div>
        </div>
        <div class="large-8 columns">
          <div class="activity-content">
            <p class="title">
              <span class="event like-event"><i class="ss-icon ss-heart"></i></span>

              <img class="user-avatar" src="http://s3.amazonaws.com/challengepost/photos/production/user_photos/000/127/180/datas/profile.jpg?1398969079">
              <b>Rob Bout</b> liked 3 projects.
            </p>


            <div class="row software-row">
              <div class="large-12 columns">
                <%= render "software_thumbnail", apps[0] %>
              </div>
              <div class="large-6 columns">
                <%= render "software_thumbnail", apps[2] %>
              </div>
              <div class="large-6 columns">
                <%= render "software_thumbnail", apps[4] %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <%= render "home/feed/timestamp", time: "2 days ago" %>

      <div class="row activity">
        <div class="large-4 columns">
          <div class="activity-sidebar">
            <div class="section">
              <%= link_to "Answer Berman", "#", class: "button secondary" %>
            </div>
          </div>
        </div>
        <div class="large-8 columns">
          <div class="activity-content">
            <p class="title">
              <span class="event new-comment-event"><i class="ss-icon ss-chat"></i></span>
              <b>Berman</b> left a comment on your sofware <b><%= link_to "Elevator", projects_path %></b>.
            </p>

            <%= render "comment" %>
          </div>
        </div>
      </div>

      <%= render "home/feed/timestamp", time: "July 1st 2014" %>

      <div class="row activity">
        <div class="large-4 columns">
          <div class="activity-sidebar">
            <div class="section">
              <%= link_to "Answer Rob Bout", "#", class: "button secondary" %>
            </div>
          </div>
        </div>
        <div class="large-8 columns">
          <div class="activity-content">
            <p class="title">
              <span class="event new-comment-event"><i class="ss-icon ss-chat"></i></span>
              <b>You</b> left a comment on your own sofware <b><%= link_to "PoExplorer", projects_path %></b>.
            </p>

            <%= render "comment", comment: "And go like your own software too, why don't you?", author: "Rob Bout" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
