<% desc = local_assigns.fetch(:desc, "I hate Britney.") %>
<% user ||= "Justin Timberlol" %>
<% image ||= "justincover.png" %>
<% avatar ||= "justinavatar.png" %>

<div class="user-thumbnail thumbnail">
  <%= link_to "#", class: "button small round secondary" do %>
    <i class="ss-icon ss-plus"></i>
  <% end %>

  <%= link_to "#" do %>
    <figure style="background: url(<%= image_path(image) %>) center top; background-size: cover">
    </figure>

    <div class="description">
      <%= image_tag avatar, class: "user-avatar large" %>
      <h3><%= user %></h3>
      <p class="info">
        <span><i class="ss-icon ss-laptop"></i> Dev & Designer</span> &middot;
        <span><i class="ss-icon ss-location"></i> New York, NY</span>
      </p>
      <p class="tagline">
        <%= desc %>
      </p>
    </div>
  <% end %>

  <footer class="clearfix">
    <div class="counts">
      <span class="count cred-amount" data-count="like">
        <i class="ss-icon ss-record"></i> <b>10.2k</b> cred
      </span>
      &middot;
      <span class="count follower-count" data-count="like">
        <i class="ss-icon ss-users"></i> <b>14</b> followers
      </span>
      &middot;
      <span class="count project-count" data-count="view">
        <i class="ss-icon ss-laptop"></i> <b>6</b> Projects
      </span>
    </div>
  </footer>
</div>
