<%= render "global_header" %>

<div id="header" class="clearfix">
    <%= render "username" %>
    <%= render "details" %>
    <%= render "menu" %>
</div>

<div id="content" class="clearfix">
  <%= render "content" %>
</div>

<%= render "footer" %>
