<div id="header" class="clearfix">
  <%= render "slim_header" %>
</div>

<%= render "menu" %>

<%= render "user_intro" %>

<div id="content" class="clearfix">
  <%= render "overview" %>
  <%= render "content" %>
</div>

<%= render "footer" %>
